html, body {
    height: 100%;
}
body {
    color: #E8E8E8;
    background-color: #666666;
    font-family: Arial,Verdana,sans-serif;
    font-size: 14pt;
    text-align: center;
}

table {
    color: #999999;
    background-color: #333333;
    background-attachment: scroll;
    border: 0 solid #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 14pt;
}

td {
    text-align: center;
}

a, a:link, a:visited, a.navbar, a.navbar:link, a.navbar:visited, a.man, a.man:link, a.man:visited, a.redlink, a.redlink:visited {
    color: #CC0000;
}

a:hover, a:active, a.navbar:hover, a.navbar:active, a.man:hover, a.man:active, a.searchlinkSmall:hover, a.searchlinkSmall:active, a.redlink:hover, a.redlink:hover {
    color: #FF0000;
}

img {
    border: 2px solid #CC0000;
}

#header {
    background-color: #333333;
    color: #999999;
    margin: 0 auto;
    text-align: left;
    max-width: 800px;
    height: 36px;
    cursor: pointer;
}

#googiframe {
    max-width: 800px;
}
body #wrap {
    margin-top: 10px;
}

.highlight {
    color: #FFCC00;
}

/* example of using .ie class
.ie div.highlight {
    color: #FFCC00;
}
*/

.normal {
    color: #999999;
    text-align: left;
    padding: 5px;
    display: none;
}

.tab:hover {
    -moz-transition: color  0.2s;
    -webkit-transition: color 0.2s;
    -o-transition: color  0.2s;
    -ms-transition: color 0.2s;
    transition: color 0.2s;
    color: #FFCC00;
}

#wrap {
    background-color: #333333;
    color: #999999;
    margin: 0 auto;
    text-align: left;
    max-width: 800px;
    height: auto;
    display: block;
}

.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}

.footer, .push {
    height: 50px;
}
.footer {
    font-size: .7em;
}

.flickr-photo {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
